<ul class="nav">
  <li><a href="{{ root_url }}/" class="btn btn-danger" style="color: #ffffff"><i class="fa fa-power-off"></i> Inicio</a></li>
  <li><a href="{{ root_url }}/blog" class="btn btn-warning" style="color: #ffffff"><i class="fa fa-archive"></i> Blog</a></li>
  <li><a href="{{ root_url }}/guias" class="btn btn-success" style="color: #ffffff"><i class="fa fa-book"></i> Guías</a></li>
  <li><a href="http://foro.clanstormtroopers.com/" class="btn btn-info" style="color: #ffffff"><i class="fa fa-group"></i> Foro</a></li>
</ul>